<ion-header >
  <ion-toolbar color="primary" >
    <ion-title class="ion-text-center">{{ logintitle }} </ion-title><span class="versionno">Ver -  1.0.0</span>
  </ion-toolbar>
</ion-header><!-- style="--background: url('assets/driverbg.jpg') top center/100% 100% no-repeat" -->
<ion-content class="ion-padding"  style=" background:url('assets/pagebg.jpg') bottom / 100% no-repeat; --background:transparent;">
<ion-card style="margin-top:5%; box-shadow: none; background: none; ">
  <div *ngIf="showloginblock"> 
  <ion-card-header>
    <ion-card-subtitle class="ion-text-center">
        <img src="assets/icon.png" style="width:100px;display:inline-block;">
      </ion-card-subtitle>
    <ion-card-title class="ion-text-center" style="font-size: 24px; font-weight: bold; color: #2f8327;">Food Order App</ion-card-title>
  </ion-card-header>
  <ion-card-content>
        <ion-item style="--background: #ffffff;color:#2f8327;--border-color: #2f8327">
            <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
            <ion-icon name="phone-portrait-outline" style="color: #2f8327;"></ion-icon>
            <ion-input  [(ngModel)]="mobilenumber" placeholder="Enter 10-digit Mobile Number" type="number" size="10"  (keyup)="getvalidmobileno($event)" ></ion-input>
          </ion-item>
   <!-- <ion-button expand="block" (click)="sendotp()" color="secondary" style="margin-top: 10px;">Send OTP</ion-button> -->
     <ion-item style="--background: #ffffff;color: #2f8327; margin-top: 10px;--border-color: #2f8327" >
        <ion-icon name="key-outline"  style="color: #2f8327;"></ion-icon>
        <ion-input  [(ngModel)]="password" placeholder="Enter Password" type="password" (keyup)="getvalidpassword($event)" ></ion-input>
      </ion-item>   
      <ion-item style="--background: none; margin-top: 10px;" lines="none">
        <ion-label>Delivery Man</ion-label>
        <ion-toggle [(ngModel)]="deliveryman"></ion-toggle>
      </ion-item> 
      <ion-button expand="block" (click)="login()" color="primary" style="margin-top: 10px;">{{ logintitle }}</ion-button>
      <p (click)="newuser()" style="text-decoration: underline;color: #2f8327; text-align: right; font-size:.9rem;margin-top: 30px; cursor: pointer; text-shadow: #fff 0.1em 0.1em 0.2em; ">
        <strong>{{new_user}}</strong>
      </p>
    </ion-card-content>
  </div>
  <div *ngIf="showregisterblock">
    <ion-card-header>     
      <ion-card-title class="ion-text-center" style="font-size: 24px; font-weight: bold; color: #2f8327;">Food Order App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-item style="--background: #ffffff;color:#2f8327;--border-color: #532c74">
      <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
      <ion-icon name="phone-portrait-outline" style="color: #2f8327;"></ion-icon>
      <ion-input  [(ngModel)]="newmobilenumber" placeholder="Enter 10-digit Mobile Number" type="number"   (keyup)="getvalidmobileno($event)" ></ion-input>
    </ion-item>
    <ion-item style="--background: #ffffff;color:#2f8327;--border-color: #532c74;margin-top: 10px;">
      <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
      <ion-icon name="mail-outline" style="color: #2f8327;"></ion-icon>
      <ion-input  [(ngModel)]="email" placeholder="Enter Valid Email" type="text"></ion-input>
    </ion-item>
    <ion-item style="--background: #ffffff;color:#2f8327;--border-color: #532c74;margin-top: 10px;">
      <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
      <ion-icon name="key-outline" style="color: #2f8327;"></ion-icon>
      <ion-input  [(ngModel)]="newpassword" placeholder="Enter New Password" type="password"></ion-input>
    </ion-item>
    <ion-item style="--background: #ffffff;color:#2f8327;--border-color: #532c74;margin-top: 10px;">
      <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
      <ion-icon name="key-outline" style="color: #2f8327;"></ion-icon>
      <ion-input  [(ngModel)]="confirmpassword" placeholder="Enter Confirm Password" type="text"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="newregister()" color="primary" style="margin-top: 10px;">{{register}}</ion-button>
    <p (click)="gotologin()" style="text-decoration: underline;color: #2f8327; text-align: right; font-size:.9rem;margin-top: 30px; cursor: pointer; text-shadow: #fff 0.1em 0.1em 0.2em; ">
      <strong>{{logintitle}}</strong>
    </p>
  </ion-card-content>
  </div>
 
</ion-card>

</ion-content>
<ion-footer>
  <ion-item color="primary">
    <ion-label>{{language}}</ion-label>
    <ion-select (ionChange)='languageChange()' [(ngModel)]='languageselect' >
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="ta">தமிழ்</ion-select-option>
      <ion-select-option value="hi">हिंदी</ion-select-option>
    </ion-select>
  </ion-item>  
</ion-footer>

