<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Page</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background: url('assets/pagebg.jpg') bottom / 100% 100% no-repeat;--background: transparent;">
  <ion-card>
    <ion-card-header>
      <ion-card-title
        > Ordered Products
        <span style="float: right; font-size:xx-large;">
          <ion-icon name="basket-outline" slot="start"></ion-icon>
        </span>
      </ion-card-title>
     
    </ion-card-header>

    <ion-card-content>
      <ion-row *ngFor="let item of selectedproduct; let i = index" >
        <ion-col size="7"> {{item.ProductName}}({{ item.Price }})</ion-col>
        <ion-col class="ion-text-center"> {{item.Qty}}  {{item.Unit}} </ion-col>
        <ion-col class="ion-text-right"> Rs. {{ item.total }} </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size="6"> Pasteurized Milk </ion-col>
        <ion-col class="ion-text-center"> 2 Ltr </ion-col>
        <ion-col class="ion-text-right"> Rs. 100 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Pasteurized Milk </ion-col>
        <ion-col class="ion-text-center"> 2 Ltr </ion-col>
        <ion-col class="ion-text-right"> Rs. 100 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Pasteurized Milk </ion-col>
        <ion-col class="ion-text-center"> 2 Ltr </ion-col>
        <ion-col class="ion-text-right"> Rs. 100 </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"> Pasteurized Milk </ion-col>
        <ion-col class="ion-text-center"> 2 Ltr </ion-col>
        <ion-col class="ion-text-right"> Rs. 100 </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size="6"> <ion-card-subtitle>Total Orders Qty : {{totalqty}} </ion-card-subtitle></ion-col>
        <ion-col class="ion-text-right"><strong>Total</strong> </ion-col>
        <ion-col class="ion-text-right"> <strong>Rs. {{totalamt}} </strong></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Delivery Address</ion-card-title>
      <ion-card-subtitle>All Are Mandatory</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Name</ion-label>
        <ion-input placeholder="placeholder" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mobile Number</ion-label>
        <ion-input placeholder="placeholder" readonly type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="placeholder" readonly type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Multiple Inputs</ion-label>
        <ion-input placeholder="Door No/Flat No"></ion-input>
        <ion-input placeholder="Address Line 1"></ion-input>
        <ion-input placeholder="Address Line 2"></ion-input>
        <ion-input placeholder="Area"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Location</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="1">Anna Nagar</ion-select-option>
          <ion-select-option value="2">Kilpauk</ion-select-option>
          <ion-select-option value="3">Perambur</ion-select-option>
          <ion-select-option value="4">Purasaivakkam</ion-select-option>
          <ion-select-option value="5">Villivakkam</ion-select-option>
          <ion-select-option value="6">Choolai</ion-select-option>
          <ion-select-option value="7">Jamalia</ion-select-option>
          <ion-select-option value="8">Ayanavaram</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
    
  </ion-card> -->
  <ion-card>
    <ion-row class="ion-padding">      
      <ion-col size="12"> 
        <ion-card-header class="ion-no-padding" >
          <ion-card-title>Delivery Address</ion-card-title>
        <ion-card-title>{{loginname}}</ion-card-title>
      </ion-card-header>          
      <ion-card-content class="ion-no-padding" >
        <p>
          {{doorno}} <br>
          {{address1}}<br>
          {{address2}}<br>
          {{area}}<br>
          {{location}}<br>
          {{loginmobile}}
          <!-- No: 57, Coimbatore Road, 
          2nd Cross, Metupalayam Road, 
          Metupalayam -623234.  -->
        </p>
      </ion-card-content>
    </ion-col>
    </ion-row>
    <ion-button  *ngIf="!globals.neworder" expand="block"  color="secondary"  style="height: 48px"  (click)="viewmap()">
      View Map
    </ion-button>
  </ion-card>
  
</ion-content>
<ion-footer *ngIf="globals.neworder"> 
  <ion-grid style="padding: 0">
    <ion-row style="padding: 0">
      <ion-col style="padding: 0">
        <ion-button
          expand="full"
          color="primary"
          style="--margin-top: 0; --margin-bottom: 0; margin: 0; height: 48px"
          (click)="confirmorder()"
        >
          Confirm Order
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
