<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content  style="background:url('assets/pagebg.jpg') bottom /100% 100%  no-repeat; --background:transparent;">
        <div style="background: rgba(255,255,255,0.85); width: 100%; height: 100%;">
        <ion-list id="inbox-list" style="background: none;">
          <ion-list-header>{{globals.loginname}}</ion-list-header>
          <ion-note>{{globals.loginmobile}}</ion-note>
          <ion-note>{{globals.loginemail}}</ion-note>
          <ion-item-divider style="--background: transparent;">
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>
        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
