<ion-header >
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Delivery Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background:url('assets/pagebg.jpg') bottom /100% 100%  no-repeat; --background:transparent;">

<ion-card (click)="gotodetailpage()" >   
    <ion-row> 
    <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
      <ion-icon name="basket-outline" ></ion-icon>
    </ion-col>
    <ion-col size="10" style="color: #555;">
      <ion-row>
        <ion-col>
          <h4 style="margin: 0;">Perambur</h4>
      </ion-col></ion-row>
      <ion-row>
        <ion-col size="8">Magesh Babu S Babu S</ion-col>
        <ion-col class="ion-text-right">Qty : 5</ion-col>
      </ion-row>     
     </ion-col>           
  </ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Anna Nagar</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>       
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Viilivakkam</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>         
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Purasaivakkam</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>       
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Kilpauk</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>         
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Ayanavaram</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>           
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Jamalia</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="8">Magesh Babu S Babu S</ion-col>
      <ion-col class="ion-text-right">Qty : 5</ion-col>
    </ion-row>         
   </ion-col>           
</ion-row>
</ion-card>
</ion-content>

