<ion-header >
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Orders List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background:url('assets/pagebg.jpg') bottom /100% 100%  no-repeat; --background:transparent;">

<ion-card (click)="gotodetailpage(item)" *ngFor="let item of OrderAssignedlist; let i = index"  >   
    <ion-row> 
    <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
      <ion-icon name="basket-outline" ></ion-icon>
    </ion-col>
    <ion-col size="10" style="color: #555;">
      <ion-row>
        <ion-col>
          <h4 style="margin: 0;">{{item.orderdatetime | date:'mediumDate' }} {{item.orderdatetime | date:'shortTime' }}</h4>
      </ion-col></ion-row>
      <ion-row>
        <ion-col size="6">Qty : {{item.totalqty}}</ion-col>
        <ion-col class="ion-text-right">Status  : {{item.status}}</ion-col>
      </ion-row>      
     </ion-col>           
  </ion-row>
</ion-card>
<!-- <ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card>
<ion-card>   
  <ion-row> 
  <ion-col size="2" class="ion-text-center" style="font-size:xx-large; padding: 1rem;" >
    <ion-icon name="basket-outline" ></ion-icon>
  </ion-col>
  <ion-col size="10" style="color: #555;">
    <ion-row>
      <ion-col>
        <h4 style="margin: 0;">Date : 12-May-2021</h4>
    </ion-col></ion-row>
    <ion-row>
      <ion-col size="6">Qty : 5</ion-col>
      <ion-col class="ion-text-right">Status  : Delivered</ion-col>
    </ion-row>      
   </ion-col>           
</ion-row>
</ion-card> -->

</ion-content>

